{% extends "base.html" %}
{% block content %}
{# <meta http-equiv="refresh" content="8; /home/"> #}
<h1 style="color:white;text-align:center;font-size:50px;">2016 MSN 非诚勿扰</h1>

<div class="row">
<div class="col-md-12">

{% for comment in comments_top %}
<div class="popover-example pull-left"> <!-- NEW -->
  <div class="popover top">
    <div class="arrow"></div>
    <div class="popover-content">
    	<div style='color:#3e2500;font-size:25px;'>
	      {{comment.content}} -by {{comment.author}}
	      <a href='/top/{{comment.id}}/1/' style='color:#b7386c;'><span class='glyphicon glyphicon-heart' aria-hidden='true'></span></a>
	    </div>
    </div>
  </div>
</div>
{% endfor %}

</div>


</div>
<hr>

<div class="row">
<div class="col-md-12">
{% for comment in comments_left %}
<div class="popover-example pull-right" style="display:flex;"> <!-- NEW -->
{% if forloop.counter|divisibleby:4 %}
  <div class="popover top">
{% elif forloop.counter|divisibleby:3 %}
  <div class="popover right" >
{% elif forloop.counter|divisibleby:2 %}
  <div class="popover left">
{% else %}
  <div class="popover bottom">
{% endif %}
    <div class="arrow"></div>
    <div class="popover-content">
    	{% if forloop.counter == 1 %}
      		<div style='color:#3e2500;font-size:30px;'>
      	{% elif forloop.counter == 2 %}
      		<div style='color:#3e2500;font-size:26px;'>
      	{% elif forloop.counter == 3 %}
      		<div style='color:#3e2500;font-size:22px;'>
      	{% else %}
      		<div style='color:#3e2500;font-size:18px;'>
      	{% endif %}
			{{comment.content}} -by {{comment.author}}
			<a href='/top/{{comment.id}}/1/' style='color:#b7386c;'><span class='glyphicon glyphicon-heart-empty' aria-hidden='true'></span></a>
		</div>
    </div>
  </div>
</div>
{% endfor %}
</div>


<style type="text/css">
	body {
		background-color:#F8ADCC;
	}

	.popover-example .popover {
	  position: relative;
	  display: block;
	  margin: 8px;
	}
</style>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover('show')
	})
</script>
{% endblock %}
