{% extends "base.html" %}
{% block content %}
{% if is_auth %}
  <meta http-equiv="refresh" content="5; /home/">
{% endif %}
<h1 style="color:white;text-align:center;">
  {% if is_auth %}
    2016 MSN 非诚勿扰
  {% else %}
    点赞墙
  {% endif %}
</h1>

<div class="row">
<div class="col-md-12">

{% if is_auth %}
{% for comment in comments_top %}
<div class="popover-example pull-left"> <!-- NEW -->
  <div class="popover top">
    <div class="arrow"></div>
    <div class="popover-content">
    	<div style='color:#3e2500;font-size:25px;'>
	      {{comment.content}} -by {{comment.user}}
	      <a href='/top/{{comment.id}}/1/' style='color:#b7386c;'><span class='glyphicon glyphicon-heart' aria-hidden='true'></span></a>*{{comment.likes}}
	    </div>
    </div>
  </div>
</div>
{% endfor %}

</div>
</div>
<hr>
{% endif %}

<div class="row">
<div class="col-md-12">
{% for index, comment in comments_no_top %}
<div class="popover-example pull-right" style="display:flex;"> <!-- NEW -->
{% if index|divisibleby:4 %}
  <div class="popover top">
{% elif index|divisibleby:3 %}
  <div class="popover right" >
{% elif index|divisibleby:2 %}
  <div class="popover left">
{% else %}
  <div class="popover bottom">
{% endif %}
    <div class="arrow"></div>
    <div class="popover-content">
        {% if not is_auth %}
          <div style='color:#3e2500;font-size:18px;'>
    	  {% elif index == 0 %}
      		<div style='color:#3e2500;font-size:30px;'>
      	{% elif index == 1 %}
      		<div style='color:#3e2500;font-size:26px;'>
      	{% elif index == 2 %}
      		<div style='color:#3e2500;font-size:22px;'>
      	{% else %}
      		<div style='color:#3e2500;font-size:18px;'>
      	{% endif %}
			{{comment.content}} -by {{comment.user}}
      {% if is_auth %}
			 <a href='/top/{{comment.id}}/1/' style='color:#b7386c;'><span class='glyphicon glyphicon-heart-empty' aria-hidden='true'></span></a>*{{comment.likes}}
      {% else %}
        <a href='/like/{{comment.id}}/' style='color:#b7386c;'><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span></a>
        <a href='/dislike/{{comment.id}}/' style='color:#b7386c;'><span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'></span></a>
      {% endif %}
		</div>
    </div>
  </div>
</div>
{% endfor %}
</div>


<style type="text/css">
	body {
		background-color:#F8ADCC;
	}

	.popover-example .popover {
	  position: relative;
	  display: block;
	  max-width: 300px;
	  margin: 8px;
	}
</style>
{% endblock %}
