{% extends "base.html" %}
{% block content %}
<h1 style="color:white;text-align:center;">非诚勿扰鲜花Booth<span class="glyphicon glyphicon-leaf" arid-hidden="true"></span></h1>
<h3 style="color:white;text-align:center;">付款</h3>
<div style="color:white;text-align:center;">
	<h4>Venmo</h4>
	<p>请点击以下链接付款:</p>
	<a href="https://venmo.com/?txn=pay&recipients=YFWang-97&amount={{money}}&note=Transaction_id: {{trans_id}}&audience=public" target="_blank" style="color:#004991;">
	<span class="glyphicon glyphicon-piggy-bank" arid-hidden="true"></span>
	付款链接
	</a>
	<p>
	<a href="/submit/" style="color:#004991;">Home</a>
	</p>
	</div>
<style type="text/css">
	body {
		background-color: #82c1ed;
	}
</style>
{% endblock %}