{% extends "base.html" %}
{% block content %}
<meta http-equiv="refresh" content="2; /submit/">
<div style="text-align:center;">
<h1 style="color:white;">留言板 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h1>
<p style="color:#009933;text-align:center;">发言成功，请等待管理员审核.现在可继续发表评论.<span class="glyphicon glyphicon-send" aria-hidden="true"></span></p>
	<a href="/submit/" style="color:#004991;">回到主页</a>
</div>
<style type="text/css">
	body {
		background-color: #82c1ed;
	}
</style>
{% endblock %}